<!DOCTYPE html>
<html lang="${locale}">
<head>
    <meta charset="UTF-8">
    <title>Arbre-o-matic</title>
    <meta name="language" content="${locale}">
    <meta http-equiv="content-language" content="${lang}">

    <meta name="author" content="Florian Cassayre">

    <meta name="robots" content="index, follow">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@flomine68">
    <meta name="twitter:title" content="Arbre-o-matic">
    <meta name="twitter:description" content="${__('arbreomatic.description')}">
    <meta name="twitter:image" content="https://arbre.app/cover_arbreomatic.png">
    <meta name="twitter:creator" content="@flomine68">

    <meta property="og:title" content="Arbre-o-matic">
    <meta property="og:type" content="website">
    <meta property="og:url" content="${urlGenerator('arbreomatic')}">
    <meta property="og:image" content="https://arbre.app/cover_arbreomatic.png">
    <meta property="og:description" content="${__('arbreomatic.description')}">
    <meta property="og:site_name" content="arbre.app">

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>

    <div id="overlay">
        <div id="loading">
            <i class="fas fa-spinner fa-pulse fa-5x fa-fw mb-4"></i>
            <h2><%=__('common.loading_ellipsis')%></h2>
            <em><%=__('common.please_wait')%></em>
        </div>
    </div>

    <a class="btn btn-outline-secondary btn-sm" href=".." role="button" style="position: absolute; top: 10px; left: 10px;">
        <i class="fas fa-long-arrow-alt-left"></i>
        <%=__('common.other_services')%>
    </a>

    <div class="dropdown" style="position: absolute; top: 10px; right: 10px;">
        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-globe" aria-hidden="true"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <h6 class="dropdown-header"><%=__('common.language')%></h6>
            <a class="dropdown-item ${lang === 'fr' ? 'active' : ''}" href="${urlGeneratorLang('fr', 'arbreomatic')}">Français</a>
            <a class="dropdown-item ${lang === 'en' ? 'active' : ''}" href="${urlGeneratorLang('en', 'arbreomatic')}">English</a>
        </div>
    </div>

    <div class="container">
        <!-- Header -->
        <div class="text-center">
            <svg id="logo" width="160" height="100"></svg>
            <h1><%=__('arbreomatic.title')%><sup style="font-size: 10pt;vertical-align: baseline;position: relative;top: -1.0em;"><%=__('common.beta_capital')%></sup></h1>
            <em><%=__('arbreomatic.description')%></em>
        </div>

        <!-- Working area -->
        <div class="contents">
            <div class="row">
                <div class="col-4" id="toolbar">
                    <h4><%=__('arbreomatic.gedcom_file')%></h4>

                    <p><%=__('arbreomatic.privacy')%>
                        <!--<i class="fa fa-question-circle fa-fw" aria-hidden="true" id="help" data-toggle="tooltip" data-placement="top" title="Aide"></i></p>-->

                    <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"><%=__('common.help')%></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h6><%=__('arbreomatic.special_characters.title')%></h6>
                                    <%=__('arbreomatic.special_characters.text')%>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="file btn btn-lg btn-success file-button col-12">
                        <i class="fas fa-folder-open fa-fw" aria-hidden="true"></i>
                        <%=__('arbreomatic.load_gedcom')%>
                        <input type="file" name="file" id="file" accept=".ged,.gedcom" />
                    </div>

                    <div class="text-center">
                        (<a href="#" id="sample-toggle"><%=__('arbreomatic.or_try_sample')%></a>)
                    </div>

                    <div class="modal fade" id="sample-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"><%=__('arbreomatic.sample_files')%></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="<%=__('common.close')%>">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <%=__('arbreomatic.choose_sample_below')%>
                                    <ul>
                                        <li><a href="#" class="sample" data-link="https://genealogyoflife.com/tng/gedcom/AmericanPresidents.ged"><%=__('arbreomatic.sample_files_list.american_presidents')%></a></li>
                                        <li><a href="#" class="sample" data-link="https://genealogyoflife.com/tng/gedcom/Royal92.ged"><%=__('arbreomatic.sample_files_list.royal92')%></a></li>
                                        <li><a href="#" class="sample" data-link="https://genealogyoflife.com/tng/gedcom/Shakespeare.ged"><%=__('arbreomatic.sample_files_list.shakespeare')%></a></li>
                                        <li><a href="#" class="sample" data-link="https://genealogyoflife.com/tng/gedcom/bach.ged"><%=__('arbreomatic.sample_files_list.bach')%></a></li>
                                    </ul>

                                    <p><%=__('arbreomatic.great_thanks_to')%> <a href="http://famousfamilytrees.blogspot.com">Paul Pruitt</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <h4><%=__('arbreomatic.root')%></h4>

                    <p>
                        <%=__('arbreomatic.choose_root')%>
                    </p>
                    <div class="row-fluid col-xs-12">
                        <label style="width: 100%">
                            <select id="individual-select" class="col-xs-12" data-live-search="true" data-width="100%" disabled>
                            </select>
                        </label>
                    </div>


                    <hr>

                    <h4><%=__('common.export')%></h4>

                    <p>
                        <%=__('arbreomatic.print_or_download')%>
                    </p>

                    <p>
                        <a class="btn btn-lg btn-primary col-12 disabled" id="print" href="#" role="button">
                            <i class="fas fa-print fa-fw" aria-hidden="true"></i>
                            <%=__('common.print_ellipsis')%>
                        </a>
                    </p>

                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle col-12" type="button" id="download-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                            <i class="fas fa-download fa-fw" aria-hidden="true"></i>
                            <%=__('common.download')%>
                        </button>
                        <div class="dropdown-menu col-12" aria-labelledby="download-menu">
                            <h6 class="dropdown-header"><%=__('arbreomatic.vector_formats')%></h6>
                            <a class="dropdown-item" id="download-pdf" href="#">
                                <i class="far fa-file-pdf fa-fw fa-lg" aria-hidden="true"></i>
                                <%=__('arbreomatic.file_type_list.pdf')%>
                            </a>
                            <a class="dropdown-item" id="download-svg" href="#">
                                <i class="far fa-file-code fa-fw fa-lg" aria-hidden="true"></i>
                                <%=__('arbreomatic.file_type_list.svg')%>
                            </a>
                            <h6 class="dropdown-header"><%=__('arbreomatic.raster_formats')%></h6>
                            <a class="dropdown-item" id="download-png-transparency" href="#">
                                <i class="far fa-file-image fa-fw fa-lg" aria-hidden="true"></i>
                                <%=__('arbreomatic.file_type_list.png_transparent')%>
                            </a>
                            <a class="dropdown-item" id="download-png-background" href="#">
                                <i class="far fa-file-image fa-fw fa-lg" aria-hidden="true"></i>
                                <%=__('arbreomatic.file_type_list.png_white_background')%>
                            </a>
                        </div>

                    </div>



                </div>
                <div class="col-8" id="preview">

                    <div id="initial-group">
                        <h5><%=__('arbreomatic.click_to_load_ellipsis')%></h5>
                        <em>(<%=__('arbreomatic.or_drag_and_drop')%>)</em>
                    </div>

                    <div id="map">
                        <svg id="fan"></svg>
                    </div>

                    <div id="preview-group" style="display: none;">
                        <button type="button" class="btn btn-light button-zoom" id="zoom-plus" title="${__('arbreomatic.zoom_in')}">
                            <i class="fas fa-plus" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-light button-zoom" id="zoom-reset" title="${__('arbreomatic.zoom_reset')}">
                            <i class="far fa-dot-circle" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-light button-zoom" id="zoom-minus" title="${__('arbreomatic.zoom_out')}">
                            <i class="fas fa-minus" aria-hidden="true"></i>
                        </button>

                        <span id="tip"><i class="fas fa-arrows-alt" aria-hidden="true"></i> <em><%=__('arbreomatic.use_mouse')%></em></span>
                    </div>
                </div>

                <div class="col-12" id="advanced">

                    <div class="row no-gutters">
                        <div class="col-6">

                            <h5><%=__('arbreomatic.informations')%></h5>

                            <div class="form-group row mb-3">
                                <label for="max-generations" class="col-form-label col-8"><%=__('arbreomatic.generation_count')%></label>
                                <div class="input-group col-4">
                                    <input class="form-control parameter" type="number" id="max-generations" min="1" max="10" value="8" disabled>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="form-check-label col-form-label col-6" for="select-dates"><%=__('arbreomatic.dates_format')%></label>
                                <div class="input-group col-6">
                                    <select class="form-control parameter" id="select-dates" disabled>
                                        <option value="0" selected><%=__('arbreomatic.date_yyyy')%></option>
                                        <option value="1"><%=__('arbreomatic.date_ddmmyyyy')%></option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row my-2">
                                <div class="col-12">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input parameter" id="show-invalid-dates" checked disabled>
                                        <label class="form-check-label" for="show-invalid-dates"><%=__('arbreomatic.display_invalid_dates')%></label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mt-4">
                                <label class="form-check-label col-form-label col-6" for="select-places"><%=__('arbreomatic.places_format')%></label>
                                <div class="input-group col-6">
                                    <select class="form-control parameter" id="select-places" disabled>
                                        <option value="0"><%=__('arbreomatic.places_format_list.full')%></option>
                                        <option value="1" selected><%=__('arbreomatic.places_format_list.city_only')%></option>
                                        <option value="2"><%=__('arbreomatic.places_format_list.nothing')%></option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row mt-4 mb-3">
                                <div class="col-12">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input parameter" id="show-marriages" checked disabled>
                                        <label class="form-check-label" for="show-marriages"><%=__('arbreomatic.display_marriages')%></label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mt-4">
                                <label class="form-check-label col-form-label col-6" for="select-name-order"><%=__('arbreomatic.names_order')%></label>
                                <div class="input-group col-6">
                                    <select class="form-control parameter" id="select-name-order" disabled>
                                        <option value="0" selected><%=__('arbreomatic.names_order_list.given_surname')%></option>
                                        <option value="1"><%=__('arbreomatic.names_order_list.surname_given')%></option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row mt-2">
                                <label class="form-check-label col-form-label col-6" for="select-name-display"><%=__('arbreomatic.names_to_display')%></label>
                                <div class="input-group col-6">
                                    <select class="form-control parameter" id="select-name-display" disabled>
                                        <option value="0" selected><%=__('arbreomatic.names_to_display_list.all')%></option>
                                        <option value="1"><%=__('arbreomatic.names_to_display_list.first')%></option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row mt-3 mb-3">
                                <div class="col-12">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input parameter" id="substitute-events" checked disabled>
                                        <label class="form-check-label" for="substitute-events"><%=__('arbreomatic.substitute_missing_events')%> <i class="fas fa-question-circle" data-toggle="tooltip" title="${__('arbreomatic.substitute_missing_events_hint')}"></i></label>
                                    </div>
                                </div>
                            </div>

                            <h5><%=__('arbreomatic.recent_people')%></h5>

                            <div class="form-group row my-2">
                                <label class="form-check-label col-form-label col-6" for="select-hidden-generations"><%=__('arbreomatic.informations_to_hide')%></label>
                                <div class="input-group col-6">
                                    <select class="form-control parameter" id="select-hidden-generations" disabled>
                                        <option value="0" selected><%=__('arbreomatic.informations_to_hide_list.none')%></option>
                                        <option value="1"><%=__('arbreomatic.informations_to_hide_list.events')%></option>
                                        <option value="2"><%=__('arbreomatic.informations_to_hide_list.all_but')%></option>
                                        <option value="3"><%=__('arbreomatic.informations_to_hide_list.all')%></option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row mb-2">
                                <label for="hidden-generations-count" class="col-form-label col-8"><%=__('arbreomatic.affected_generations')%></label>
                                <div class="input-group col-4">
                                    <input class="form-control parameter" type="number" id="hidden-generations-count" min="1" max="8" value="1" disabled>
                                </div>
                            </div>

                            <h5><%=__('arbreomatic.format')%></h5>

                            <div class="form-group row mt-3">
                                <div class="col-12">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input parameter" id="show-missing" disabled>
                                        <label class="form-check-label" for="show-missing"><%=__('arbreomatic.display_empty_boxes')%></label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mt-2 mb-2">
                                <label for="fan-angle" class="col-form-label col-8"><%=__('arbreomatic.fan_angle')%></label>
                                <div class="input-group col-4">
                                    <input class="form-control parameter" type="number" id="fan-angle" min="180" max="360" value="270" aria-describedby="inputGroupPrepend" disabled>
                                    <div class="invalid-feedback">
                                        <%=__('arbreomatic.choose_an_angle')%>
                                    </div>
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="inputGroupPrepend">°</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mt-2">
                                <div class="col-12">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input parameter" id="show-chronology" disabled>
                                        <label class="form-check-label" for="show-chronology"><%=__('arbreomatic.chronology')%></label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mt-3">
                                <div class="col-12">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input parameter" id="invert-text-arc" disabled>
                                        <label class="form-check-label" for="invert-text-arc"><%=__('arbreomatic.adapt_text_layout')%></label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-6">

                            <h5><%=__('arbreomatic.annotations')%></h5>

                            <div class="form-group row mb-3">
                                <label for="title" class="col-form-label col-6"><%=__('arbreomatic.primary_title')%></label>
                                <div class="input-group col-6">
                                    <input class="form-control parameter" type="text" id="title" placeholder="${__('common.none')}" disabled>
                                </div>
                            </div>

                            <h5><%=__('arbreomatic.measurements')%></h5>
                            <h6><%=__('arbreomatic.title_title')%></h6>

                            <div class="form-group row mb-2">
                                <div class="form-group row mb-2">

                                    <label for="title-size" class="col-form-label col-6"><%=__('arbreomatic.title_size')%></label>
                                    <div class="input-group col-6 my-auto">
                                        <input type="range" class="custom-range parameter" id="title-size" min="50" max="250" value="100" disabled>
                                    </div>

                                    <label for="title-margin" class="col-form-label col-6"><%=__('arbreomatic.title_margin')%></label>
                                    <div class="input-group col-6 my-auto">
                                        <input type="range" class="custom-range parameter" id="title-margin" min="0" max="250" value="25" disabled>
                                    </div>

                                </div>
                            </div>

                            <h6><%=__('arbreomatic.strokes')%></h6>

                            <div class="form-group row mb-2">
                                <label for="stroke-weight" class="col-form-label col-6"><%=__('arbreomatic.stroke_weight')%></label>
                                <div class="input-group col-6 my-auto">
                                    <input type="range" class="custom-range parameter" id="stroke-weight" min="5" max="30" value="20" disabled>

                                </div>
                            </div>

                            <h6><%=__('arbreomatic.box_sizes')%></h6>

                            <div class="form-group row mb-2">

                                <label for="weightg1" class="col-form-label col-6"><%=__('arbreomatic.box_sizes_list.generation_1')%></label>
                                <div class="input-group col-6 my-auto">
                                    <input type="range" class="custom-range parameter" id="weightg1" min="90" max="250" value="100" disabled>
                                </div>

                                <label for="weightg2" class="col-form-label col-6"><%=__('arbreomatic.box_sizes_list.generation_2_4')%></label>
                                <div class="input-group col-6 my-auto">
                                    <input type="range" class="custom-range parameter" id="weightg2" min="90" max="250" value="100" disabled>
                                </div>

                                <label for="weightg3" class="col-form-label col-6"><%=__('arbreomatic.box_sizes_list.generation_5_8')%></label>
                                <div class="input-group col-6 my-auto">
                                    <input type="range" class="custom-range parameter" id="weightg3" min="90" max="250" value="170" disabled>
                                </div>

                                <label for="weightg4" class="col-form-label col-6"><%=__('arbreomatic.box_sizes_list.generation_9_plus')%></label>
                                <div class="input-group col-6 my-auto">
                                    <input type="range" class="custom-range parameter" id="weightg4" min="90" max="250" value="140" disabled>
                                </div>
                            </div>

                            <h6><%=__('arbreomatic.raster_size')%></h6>

                            <div class="form-group row mb-3">
                                <label for="size-pixels" class="col-form-label col-8"><%=__('arbreomatic.width_pixels')%></label>
                                <div class="input-group col-4">
                                    <input class="form-control parameter" type="number" id="size-pixels" min="200" max="6000" value="3000" aria-describedby="size-pixels-prepend" disabled>
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="size-pixels-prepend">px</span>
                                    </div>
                                </div>
                            </div>

                            <h5><%=__('arbreomatic.colors')%></h5>

                            <div class="form-group row mb-2">
                                <label for="color-individuals" class="col-form-label col-7"><%=__('arbreomatic.individual_box')%></label>
                                <div class="input-group col-5 colorpicker-group">
                                    <input type="text" class="form-control" id="color-individuals" value="#ffffff" />
                                    <span class="input-group-append">
                                            <span class="input-group-text colorpicker-input-addon"><i></i></span>
                                        </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="color-marriages" class="col-form-label col-7"><%=__('arbreomatic.marriage_box')%></label>
                                <div class="input-group col-5 colorpicker-group">
                                    <input type="text" class="form-control" id="color-marriages" value="#efefef" />
                                    <span class="input-group-append">
                                            <span class="input-group-text colorpicker-input-addon"><i></i></span>
                                        </span>
                                </div>
                            </div>

                            <div class="form-group row mt-3">
                                <div class="col-12">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input parameter" id="text-contrast" checked disabled>
                                        <label class="form-check-label" for="text-contrast"><%=__('arbreomatic.automatic_text_contrast')%></label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mb-3 mt-3">
                                <label class="form-check-label col-form-label col-6" for="select-color-scheme"><%=__('arbreomatic.dynamic_coloring')%></label>
                                <div class="input-group col-6">
                                    <select class="form-control parameter" id="select-color-scheme" disabled>
                                        <option value="none" selected><%=__('arbreomatic.dynamic_coloring_list.disabled')%></option>
                                        <option value="sex"><%=__('arbreomatic.dynamic_coloring_list.gender')%></option>
                                        <!--<option value="alive">Encore en vie</option>-->
                                        <option value="generation"><%=__('arbreomatic.dynamic_coloring_list.generation')%></option>
                                        <option value="agedeath"><%=__('arbreomatic.dynamic_coloring_list.age_at_death')%></option>
                                        <option value="agemarriage"><%=__('arbreomatic.dynamic_coloring_list.age_at_marriage')%></option>
                                        <option value="birthdate"><%=__('arbreomatic.dynamic_coloring_list.birth_date')%></option>
                                        <option value="birthtown"><%=__('arbreomatic.dynamic_coloring_list.birth_town')%></option>
                                        <option value="birthdepartement"><%=__('arbreomatic.dynamic_coloring_list.birth_department')%></option>
                                        <option value="patronym"><%=__('arbreomatic.dynamic_coloring_list.surname')%></option>
                                        <option value="signature"><%=__('arbreomatic.dynamic_coloring_list.can_sign')%></option>
                                        <option value="occupation"><%=__('arbreomatic.dynamic_coloring_list.occupation')%></option>
                                        <option value="childrencount"><%=__('arbreomatic.dynamic_coloring_list.children_count')%></option>
                                    </select>
                                </div>
                            </div>

                            <div id="group-color-dual" class="group-color" style="display: none">
                                <div class="form-group row mb-2">
                                    <label for="color1" class="col-form-label col-7"><%=__('arbreomatic.color_list.color_1')%></label>
                                    <div class="input-group col-5 colorpicker-group">
                                        <input type="text" class="form-control" id="color1" value="#ffffff" />
                                        <span class="input-group-append">
                                            <span class="input-group-text colorpicker-input-addon"><i></i></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="color2" class="col-form-label col-7"><%=__('arbreomatic.color_list.color_2')%></label>
                                    <div class="input-group col-5 colorpicker-group">
                                        <input type="text" class="form-control" id="color2" value="" />
                                        <span class="input-group-append">
                                            <span class="input-group-text colorpicker-input-addon"><i></i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div id="group-color-gradient" class="group-color" style="display: none">
                                <div class="form-group row mb-2 gradient-group">
                                    <label for="color-start" class="col-form-label col-7"><%=__('arbreomatic.min_value')%></label>
                                    <div class="input-group col-5 colorpicker-group">
                                        <input type="text" class="form-control" id="color-start" value="" />
                                        <span class="input-group-append">
                                            <span class="input-group-text colorpicker-input-addon"><i></i></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group row gradient-group">
                                    <label for="color-end" class="col-form-label col-7"><%=__('arbreomatic.max_value')%></label>
                                    <div class="input-group col-5 colorpicker-group">
                                        <input type="text" class="form-control" id="color-end" value="" />
                                        <span class="input-group-append">
                                            <span class="input-group-text colorpicker-input-addon"><i></i></span>
                                        </span>
                                    </div>
                                </div>

                                <div id="gradient-preview" class="col-6 offset-3 mt-3"></div>
                            </div>

                            <div id="group-color-textual" class="group-color" style="display: none">

                                <div class="form-group row mt-2">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="textual-mode" id="textual-mode1" value="0" checked>
                                            <label class="form-check-label" for="textual-mode1">
                                                <%=__('arbreomatic.automatic_palette')%>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row mt-3">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input parameter" id="random-selection" checked disabled>
                                            <label class="form-check-label" for="random-selection"><%=__('arbreomatic.random_assignment')%></label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row mt-2">
                                    <label for="saturation" class="col-form-label col-6"><%=__('arbreomatic.color_saturation')%></label>
                                    <div class="input-group col-6 my-auto">
                                        <input type="range" class="custom-range parameter" id="saturation" min="0" max="100" value="100" disabled>
                                    </div>

                                    <label for="value" class="col-form-label col-6"><%=__('arbreomatic.color_value')%></label>
                                    <div class="input-group col-6 my-auto">
                                        <input type="range" class="custom-range parameter" id="value" min="0" max="100" value="85" disabled>
                                    </div>
                                </div>


                                <div class="form-group row mt-3">
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="textual-mode" id="textual-mode2" value="1" disabled>
                                            <label class="form-check-label" for="textual-mode2">
                                                <%=__('arbreomatic.custom_palette')%>
                                            </label>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>

                    </div>



                </div>
            </div>
        </div>



        <footer class="page-footer pt-4">
            <div class="container-fluid text-center text-md-left">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div style="width: 100%;">
                                <h6><%=__('arbreomatic.newsletter')%></h6>
                                <p><%=__('arbreomatic.get_informed')%></p>

                                <!-- Begin Mailchimp Signup Form -->
                                <div id="mc_embed_signup" class="mb-3" style="width: 100%;">
                                    <form action="https://gmail.us4.list-manage.com/subscribe/post?u=ae91ffd8285e9c1c6e0d1fe01&amp;id=35246dbb9f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                        <div class="form-row align-items-center">
                                            <div class="col-8">
                                                <label class="sr-only" for="mce-EMAIL"><%=__('arbreomatic.email_address')%></label>
                                                <input class="form-control mb-2" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="${__('arbreomatic.example_email')}" style="width: 100%">
                                            </div>
                                            <div id="mce-responses" class="clear">
                                                <div class="response" id="mce-error-response" style="display:none"></div>
                                                <div class="response" id="mce-success-response" style="display:none"></div>
                                            </div>
                                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ae91ffd8285e9c1c6e0d1fe01_35246dbb9f" tabindex="-1" value=""></div>
                                            <div class="col-4">
                                                <button type="submit" class="btn btn-primary mb-2" value="${__('arbreomatic.subscribe')}" name="subscribe" id="mc-embedded-subscribe" style="width: 100%"><%=__('arbreomatic.subscribe')%></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!--End mc_embed_signup-->

                            </div>

                            <div>
                                <h6><%=__('common.contact')%></h6>
                                <p><%=__('arbreomatic.for_any_suggestion')%> <a href="https://florian.cassayre.me/contact"><%=__('arbreomatic.a_contact_form_is_available')%></a>. <%=__('arbreomatic.feedback_is_appreciated')%></p>

                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div>
                                <h6><%=__('common.news')%></h6>

                                <strong>30/12/2019</strong>
                                <ul>
                                    <li data-toggle="tooltip" data-placement="left" title="Merci à Claude">Les préfixes des noms n'étaient pas affichés</li>
                                </ul>

                                <div class="text-center">
                                    <a href="#" id="news-button"><%=__('common.show_more_ellipsis')%></a>
                                </div>


                                <div class="modal fade" id="news-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title"><%=__('common.news')%></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">

                                                <strong>14/11/2019</strong>
                                                <ul>
                                                    <li>Possibilité d'affichage jusqu'à 10 générations</li>
                                                </ul>

                                                <strong>13/11/2019</strong>
                                                <ul>
                                                    <li>Paramètre de choix d'un titre</li>
                                                    <li>Possibilité de modifier l'épaisseur des tracés</li>
                                                </ul>

                                                <strong>10/11/2019</strong>
                                                <ul>
                                                    <li>Option permettant d'inverser l'ordre des noms</li>
                                                    <li data-toggle="tooltip" data-placement="left" title="Merci à Jean-Michel et Carine">Option d'affichage du premier prénom seulement</li>
                                                    <li data-toggle="tooltip" data-placement="left" title="Merci à Carine">Option de substitution des événements</li>
                                                </ul>

                                                <strong>09/10/2019</strong>
                                                <ul>
                                                    <li>Résolution de certains problèmes d'encodage</li>
                                                </ul>

                                                <strong>01/10/2019</strong>
                                                <ul>
                                                    <li data-toggle="tooltip" data-placement="left" title="Merci à Daniel">
                                                        Les cases vides étaient incorrectement coloriées
                                                    </li>
                                                </ul>

                                                <strong>07/09/2019</strong>
                                                <ul>
                                                    <li>
                                                        Plus de navigateurs sont désormais compatibles
                                                    </li>
                                                    <li>
                                                        La navigation sur les appareils mobiles a été améliorée
                                                    </li>
                                                </ul>

                                                <strong>02/09/2019</strong>
                                                <ul>
                                                    <li>
                                                        Meilleure compatibilité du fichier SVG exporté
                                                    </li>
                                                    <li>
                                                        Nouveaux filtres de coloriage : âge au mariage, profession, nombre d'enfants
                                                    </li>
                                                </ul>

                                                <strong>01/09/2019</strong>
                                                <ul>
                                                    <li data-toggle="tooltip" data-placement="left" title="Merci à Hélène et Romain">
                                                        Nouveau filtre de coloriage par signature
                                                    </li>
                                                    <li>
                                                        Les fichiers ANSI sont désormais supportés
                                                    </li>
                                                    <li>
                                                        Nouveau format de téléchargement : PNG
                                                    </li>
                                                </ul>

                                                <strong>31/08/2019</strong>
                                                <ul>
                                                    <li>
                                                        Performances nettement améliorées
                                                    </li>
                                                    <li>
                                                        Option d'adaptation de l'orientation du texte
                                                    </li>
                                                </ul>

                                                <strong>29/08/2019</strong>
                                                <ul>
                                                    <li>
                                                        Nouveaux filtres de coloriage dynamique
                                                    </li>
                                                    <li>
                                                        Possibilité de cacher le nom de l'individu central
                                                    </li>
                                                </ul>

                                                <strong>28/08/2019</strong>
                                                <ul>
                                                    <li>
                                                        Personnalisation des couleurs
                                                    </li>
                                                    <li>
                                                        Coloriage dynamique (expérimental)
                                                    </li>
                                                </ul>

                                                <strong>20/08/2019</strong>
                                                <ul>
                                                    <li>
                                                        Ajout d'un mode de visualisation chronologique
                                                    </li>
                                                    <li>
                                                        Gestion de l'affichage des contemporains
                                                    </li>
                                                </ul>

                                                <strong>18/08/2019</strong>
                                                <ul>
                                                    <li>
                                                        Les lieux sont mieux reconnus
                                                    </li>
                                                </ul>

                                                <strong>17/08/2019</strong>
                                                <ul>
                                                    <li data-toggle="tooltip" data-placement="left" title="Merci à Anthony">
                                                        Indication sur le format du fichier
                                                    </li>
                                                    <li data-toggle="tooltip" data-placement="left" title="Merci à Romain et Hélène">
                                                        Support des dates républicaines
                                                    </li>
                                                    <li data-toggle="tooltip" data-placement="left" title="Merci à Hélène">
                                                        Meilleure organisation des individus
                                                    </li>
                                                    <li>
                                                        Les cases "mariage" ne débordent plus
                                                    </li>
                                                </ul>

                                                <strong>16/08/2019</strong>
                                                <ul>
                                                    <li>
                                                        Sortie de la version bêta
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <hr>

            <div class="footer-copyright text-center py-1 font-italic">

                <div>
                    <%=__('arbreomatic.done_by')%> <a href="https://florian.cassayre.me">Florian Cassayre</a>
                </div>
                <div>
                    <%=__('arbreomatic.inspired_by')%> <a href="https://geneanet.org">Geneanet</a>
                </div>
                <div>
                    <%=__('arbreomatic.diagram_made_with')%> <a href="https://d3js.org/">d3.js</a> <%=__('common.and')%> <a href="https://github.com/tmcw/parse-gedcom">parse-gedcom</a><%=__('arbreomatic.printing_with')%> <a href="https://pdfkit.org/">PDFKit</a> <%=__('common.and')%> <a href="https://github.com/alafr/SVG-to-PDFKit">SVG-to-PDFKit</a><%=__('arbreomatic.interface_with')%> <a href="https://getbootstrap.com/">Bootstrap</a>, <a href="https://github.com/anvaka/panzoom">panzoom</a> <%=__('common.and')%> <a href="https://developer.snapappointments.com/bootstrap-select/">bootstrap-select</a>
                </div>
                <div>
                    <%=__('arbreomatic.to_be_used_with')%>
                </div>

                <a href="https://github.com/FlorianCassayre/Arbre-o-matic" target="_blank" style="color: black">
                    <i class="fab fa-github fa-2x mt-4" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="${__('arbreomatic.source_code_on')}"></i>
                </a>

            </div>
        </footer>
    </div>




    <!-- Scripts -->
    <script>
        var isReady = true;
        window.onerror = function errorHandler(msg, url, line) {
            isReady = false;
            var e = document.getElementById('loading');
            e.innerHTML = "<h2><i class=\"fas fa-exclamation-triangle\" aria-hidden=\"true\"></i> ${__('arbreomatic.an_error_occurred')}</h2>${__('arbreomatic.your_browser_is_incompatible')}";
            return false;
        };
    </script>


</body>
</html>
